.dashboard {
    padding: 40px;
}

.users {
    display: flex;
    flex-direction: column;
    gap:8px;
 
}
.select-user {
    background-color: white;
    border-radius: 16px;
    position: relative;
    height: 64px;
}

.select-user:hover {
    background-color: #E8F4F7;
}

.edit-btn {
    position: absolute;
    right: 0;
    margin-right: 8px;
}

.blur {
    filter: blur(16px);
}