.login-form {
    min-width: 400px;
    min-height: 300px;
    box-sizing: border-box;
    border-radius: 20px;
    min-width: 560px;
}



.login-form-field {
    box-sizing: border-box;
    padding: 20px;
    gap: 16px;
}

.login-form-header {
    border-radius: 20px 20px 0 0;
    box-sizing: border-box;
    padding: 20px;
    background-color: #2ea44f;
    color: white;
}