.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    border-radius: 20px;
    background-color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.button-options {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
}

.edit-form-row {
    gap: 8px;
}